 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  animation-timing-function: ease-out;
  transition-duration: 0.5s;
  transform: scale(1.1) translateX(0px) translateY(0px);
  margin: 154px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 40px auto 60px;
  padding: 10px 57px 10px 55px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 63.21% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  color: #f1c50e !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  color: #f1c50e !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-2 .u-image-1 {
  width: 663px;
  min-height: 969px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 60px 101px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -292px 0 128px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-3 {
  width: 173px;
  height: 87px;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-4 {
  width: 173px;
  height: 87px;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-5 {
  width: 173px;
  height: 87px;
  margin: 17px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-6 {
  width: 173px;
  height: 87px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-2 .u-image-1 {
    width: 534px;
    margin-top: 53px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 775px;
    height: 709px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-bottom: 135px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    grid-gap: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-2 .u-image-1 {
    width: 461px;
    min-height: 1024px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-2 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -969px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -150px;
    margin-bottom: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-image-1 {
    min-height: 848px;
    width: 450px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -792px;
  }

  .u-section-2 .u-list-1 {
    width: 492px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-image-1 {
    min-height: 441px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    margin-top: -396px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 259px;
    margin-top: -111px;
    margin-bottom: 121px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 33px 33px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1148px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  width: 982px;
  margin: 9px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 331px;
  grid-gap: 22px 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 5px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 19px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 0 auto 0 5px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 19px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 0 auto 0 5px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 19px 1px 0 0;
}

.u-section-3 .u-image-1 {
  width: 468px;
  height: 468px;
  background-image: url("images/cxc.jpg");
  background-position: 50% 50%;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
    min-height: 317px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-3 .u-image-1 {
    width: 536px;
    height: 536px;
    margin-top: -124px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 535px;
    height: 535px;
    margin-top: -324px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 19px;
    margin-bottom: 48px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  min-height: 1232px;
  background-image: none;
}

.u-section-4 .u-shape-1 {
  height: 453px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-shape-2 {
  width: 603px;
  height: 597px;
  background-image: none;
  margin: -239px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-shape-3 {
  width: 716px;
  height: 742px;
  background-image: none;
  margin: -756px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 811px;
  height: 707px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -362px auto 0 calc(((100% - 1140px) / 2) + 96px);
}

.u-section-4 .u-group-1 {
  min-height: 380px;
  width: 614px;
  margin: -1087px calc(((100% - 1140px) / 2) + 51px) 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  margin: 26px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1236px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 683px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 748px;
    height: 689px;
    margin-top: -320px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 402px;
    width: 551px;
    margin-top: -1111px;
    margin-right: calc(((100% - 940px) / 2) + 51px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1133px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 599px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 566px;
    height: 541px;
    margin-top: -280px;
  }

  .u-section-4 .u-group-1 {
    width: 502px;
    margin-top: -994px;
    margin-right: calc(((100% - 720px) / 2) + 48px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1154px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 493px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 516px;
    margin-top: -228px;
  }

  .u-section-4 .u-group-1 {
    min-height: 485px;
    width: 441px;
    margin-top: -1021px;
    margin-right: calc(((100% - 540px) / 2) + 14px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 998px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 309px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 325px;
    margin-top: -194px;
  }

  .u-section-4 .u-group-1 {
    min-height: 519px;
    width: 274px;
    margin-top: -864px;
    margin-right: calc(((100% - 340px) / 2) + 17px);
  }
}